h1.normal
 { width: 100%; color: #ffffff; background-color: #5f5f5f; padding: 5px; border-top: 2px solid #2f2f2f; border-bottom: 2px solid #2f2f2f; font: bold 150% monospace; text-transform: lowercase; text-align: center; margin-top: 2em; margin-bottom: 1em; filter: blur(Add=0, Strength=5) }
h1.success
 { width: 100%; color: #ffffff; background-color: #5f9f5f; padding: 5px; border-top: 2px solid #2f5f2f; border-bottom: 2px solid #2f5f2f; font: bold 150% monospace; text-transform: lowercase; text-align: center; margin-top: 2em; margin-bottom: 1em; filter: blur(Add=0, Strength=5) }
h1.error
 { width: 100%; color: #ffffff; background-color: #9f5f5f; padding: 5px; border-top: 2px solid #5f2f2f; border-bottom: 2px solid #5f2f2f; font: bold 150% monospace; text-transform: lowercase; text-align: center; margin-top: 2em; margin-bottom: 1em; filter: blur(Add=0, Strength=5) }


h2.normal
 { font: italic bold 125% serif; text-align: center }


a:link
 { color: #4fffff }
a:visited
 { color: #009f9f }
a:active
 { color: #7fff7f }
a:hover
 { color: #ffff7f }


input.flat1
 { background: #efefdf; color: #000000; border: 1px solid #bfbfbf }
input.flat2
 { background: #efefef; color: #000000; border: 1px solid #ffffff }


.header
 { background-color: #5f5f5f; font-family: sans-serif; border-bottom: 1px solid #7f7f7f }
.footer
 { background-color: #5f5f5f; font-family: sans-serif; border-top: 1px solid #7f7f7f }


.note
 { background-color: #7f7f5f; font-family: sans-serif; font-size: 75% }


.hilite
 { color: #ff7f7f }

.transparent
 { background-color: transparent }
.opaque1
 { background-color: #5f5f5f }
.opaque1_bevel
 { border-top: 1px solid #6f6f6f; border-bottom: 1px solid #3f3f3f }
.opaque1_tearoff_v
 { background-image: url(../pics/bump.gif); background-repeat: repeat-y; background-position: top center }
.opaque2
 { background-color: #6f6f6f }
.opaque2_bevel
 { border-top: 1px solid #7f7f7f; border-bottom: 1px solid #4f4f4f }

.compact
 { font: 75% sans-serif }
